<h1>

Dashboard

</h1>

<div class="cards">

<div class="card">

<h3>

Usuários

</h3>

<p>

{{totalUsuarios}}

</p>

</div>

<div class="card">

<h3>

Laboratórios

</h3>

<p>

{{totalLaboratorios}}

</p>

</div>

<div class="card">

<h3>

Equipamentos

</h3>

<p>

{{totalEquipamentos}}

</p>

</div>

<div class="card">

<h3>

Reservas Lab

</h3>

<p>

{{totalReservasLab}}

</p>

</div>

<div class="card">

<h3>

Reservas Equip.

</h3>

<p>

{{totalReservasEquip}}

</p>

</div>

<div class="card">

<h3>

Relatórios

</h3>

<p>

{{totalRelatorios}}

</p>

</div>

</div>
