<h1>Nova Reserva de Equipamentos</h1>

<form

action="/reservas/equipamentos/novo"

method="POST"

>

<label>

Data

</label>

<input

type="date"

name="DataReserva"

required

>

<label>

Hora Entrada

</label>

<input

type="time"

name="HoraEntrada"

required

>

<label>

Hora Saída

</label>

<input

type="time"

name="HoraSaida"

required

>

<hr>

{{#each equipamentos}}

<div class="equipamento">

<h3>

{{NomeEquip}}

</h3>

<input

type="hidden"

name="equipamentos[{{@index}}][IdEquip]"

value="{{IdEquip}}"

>

<label>

Quantidade

</label>

<input

type="number"

min="0"

max="{{Quantidade}}"

name="equipamentos[{{@index}}][Quantidade]"

value="0"

>

</div>

{{/each}}

<button>

Reservar

</button>

</form>

<script src="/js/reservaEquipamento.js"></script>
