<h1>Editar Reserva</h1>

<form

action="/reservas/equipamentos/editar/{{reserva.IdReservaEquip}}"

method="POST"

>

<input

type="date"

name="DataReserva"

value="{{reserva.DataReserva}}"

required

>

<input

type="time"

name="HoraEntrada"

value="{{reserva.HoraEntrada}}"

required

>

<input

type="time"

name="HoraSaida"

value="{{reserva.HoraSaida}}"

required

>

<hr>

{{#each equipamentos}}

<div class="equipamento">

<h3>

{{NomeEquip}}

</h3>

<input

type="hidden"

name="equipamentos[{{@index}}][IdEquip]"

value="{{IdEquip}}"

>

<input

type="number"

min="0"

name="equipamentos[{{@index}}][Quantidade]"

value="0"

>

</div>

{{/each}}

<button>

Atualizar

</button>

</form>
