<h1>Reservas de Equipamentos</h1>

<a

href="/reservas/equipamentos/novo"

class="btn"

>

Nova Reserva

</a>

<table>

<thead>

<tr>

<th>Usuário</th>

<th>Data</th>

<th>Entrada</th>

<th>Saída</th>

<th>Ações</th>

</tr>

</thead>

<tbody>

{{#each reservas}}

<tr>

<td>{{Usuario.Login}}</td>

<td>{{DataReserva}}</td>

<td>{{HoraEntrada}}</td>

<td>{{HoraSaida}}</td>

<td>

<a href="/reservas/equipamentos/editar/{{IdReservaEquip}}">

Editar

</a>

|

<a href="/reservas/equipamentos/excluir/{{IdReservaEquip}}">

Excluir

</a>

</td>

</tr>

{{/each}}

</tbody>

</table>
